html, body{
    margin: 0px;
    height: 100%;
}

*{
    box-sizing: border-box;
}

header{
    height: 100px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3773ff;
    color: white;
}

div.button{
    background-color: rgba(78, 79, 83, 0.42);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    cursor: pointer;
}

header p{
    font-size: 40px;
}

header p.connecter{
    display: none;
}

header div#deco {
    font-size: 20px;
    cursor: pointer;
}

header div.proj{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
}

div.ecran{
    height: calc(100% - 101px);
}

div#connexion{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000033;
}

div#connexion div#bloc{
    margin-top: -90px;
    height: 270px;
    width: 360px;
    padding: 30px;
    font-size: 18px;
    background-color: rgb(254, 254, 254);
    border-radius: 6px;
}

div#connexion div#bloc input{
    width: 240px;
    height: 30px;
}

div#connexion div#bloc #fin{
    display: flex;
    flex-direction: row;
}

div#connexion div#bloc a{
    padding-left: 120px;
    font-size: 12px;
    color: #1e1dff;
    text-decoration: underline;
    cursor: pointer;
}

span#errorCo{
    font-size: 10px;
    color: red;
}


/**
 * Ecran une fois connecter
 */
div#projet{
    display: flex;
}

div#projet div#left{
    width: 30%;
    border-right: 1px solid black;
    height: 100%;
}

div#projet div#left div#titleMenu{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

div#projet div#left div#titleMenu img.addNote{
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

div#contentNote img.addTache{
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

div#headerNote img.supprNote{
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

div#projet div#left div#todoListe{
    width: 100%;
    height: calc(100% - 51px);
}

div#projet div#right{
    width: 70%;
    height: 100%;
}

div.noteTitle{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

div#headerNote{
    display: flex;
    align-items: center;
    height: 70px;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

ul li{
    padding-bottom: 15px;
}

/*partie gérant le rendue des popup*/
div#popup{
    background-color: white;
    width: 400px;
}

div#popup div#titlePopup{
    height: 40px;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid black;
    background-color: #1d54ff;
}

div#popup div#contentPopup{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

div#popup div#contentPopup *{
    margin-bottom: 5px;
}